body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

#about {
	margin: 8px 10%;
}

#aboutus {
	margin: 20px 5%;
	font-size: 24px;
	font-weight: 600;
}
#wethenano{
	margin: 12px 5%;
	font-size: 18px;
	font-weight: 500;
}
#ournames{
	margin: 0px 5%;
	font-size: 16px;
	fot-weight: 550;
}
.title {
  text-decoration: none;
	color:black;
	text-align: center;
}
.title:hover {
	text-decoration: underline;
	color: #0000ee;
}
#titleid {
	text-align: center;
	font-size: 30px;
}

.toplink {
	margin: 0px 10px;
	text-decoration: none;
	color: black;
	font-size: 16px;
	font-weight: 600;
}

.toplink:hover {
	text-decoration: underline;
	color: #0000ee;
}